

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="lprojects">
  <div class="my-auto">
    <h2 class="mb-5">{{ .Title }}</h2>
    {{ .Content }}

    <!-- <button class="toggle-view button-56"> <i class="fa fa-th-large"></i> Toggle View </button> -->
      
    <!-- Rounded switch -->
    <!-- <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label> -->

    
    <!-- <div id="list-visible" class="list-view" style="display:flex">
      <div class="my-auto" id="projects-content">      
        {{ $featuredPages := where .Pages "Params.featured" true }}
        {{ range $featuredPages }}
        {{ end }}
      </div>
    </div> -->

    <div id="grid-visible" class="grid-view">
      <center>
        <!-- <button class="button three-trigger btn-outline-primary">Big</button>
        <button class="button four-trigger btn-outline-primary">Small</button> -->
        <button class="three-trigger button-56"></i>Big</button>
        <button class="four-trigger button-56"></i>Small</button>
      </center>
      <br>

      <div class="row">
        {{ range .Pages }}  
        <div class="column d-flex flex-column flex-md-row">
          <div class="box-masonry">
  
            <a class="box-masonry-image with-hover-overlay with-hover-icon" href="{{.Permalink}}">
              {{ with .Params.image }}
                <!-- <img src="{{ . }}" class="img-fluid img-responsive" width="400" height="100" /> -->
                <img src="{{ . }}" class="img-responsive" width="400" height="100" />
              {{ end }} 
            </a>
  
            <div class="box-masonry-text">
              <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              <p>{{ .Description | safeHTML }}</p>
            </div>
            
          </div>
  
        </div>
        {{ end }}
      </div>
    </div>     
  </div>
</section>
