
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VEF9FD750Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VEF9FD750Z');
</script>

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="lprojects">
  <div class="my-auto">
    <h2 class="mb-5">{{ .Title }}</h2>
    {{ .Content }}

    <div id="grid-visible" class="grid-view">
      <center>
        <button class="three-trigger button-56"></i>Big</button>
        <button class="four-trigger button-56"></i>Small</button>
      </center>
      <br>

      <div class="row">
        {{ range .Pages }}  
        <div class="column d-flex flex-column flex-md-row">
          <div class="box-masonry">
  
            <a class="box-masonry-image with-hover-overlay with-hover-icon" href="{{.Permalink}}">
              {{ with .Params.image }}
                <img src="{{ . }}" class="img-responsive" width="400" height="100" />
              {{ end }} 
            </a>
  
            <div class="box-masonry-text">
              <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              <p>{{ .Description | safeHTML }}</p>
            </div>
            
          </div>
  
        </div>
        {{ end }}
      </div>
    </div>     
  </div>
</section>
